$color-blue-text: #152556;
$color-blue-footer: #002664;
$color-grey-info-text: #516272;
$color-grey-login-text: #707e8c;
$color-grey-login-background: #f5f5f5;
$color-grey-horizontal-rule: rgb(209, 209, 209);
$color-white: #ffffff;
$color-orange: #f47920;