@font-face {
  font-family: 'FoundrySterling';
  src: url('../fonts/FoundrySterlingBook.ttf') format('truetype');
}

@font-face {
  font-family: 'FoundrySterling-Light';
  src: url('../fonts/FoundrySterling-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'FoundrySterling-Medium';
  src: url('../fonts/FoundrySterling-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'FoundrySterling-Demi';
  src: url('../fonts/FoundrySterling-Demi.ttf') format('truetype');
}