@import './partials/colors';

$page-height: 830px;
$page-width: 1440px;
$banner-height: 147px;
$footer-height: 100px;

.landing-page {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  width: 100%;
}

.banner {
  display: block;
  width: 100%;
  min-height: $banner-height;
  padding: 48px 240px 0;
  background-color: $color-white;

  &-content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    line-height: 52px;

    img {
      height: 34px;
      width: 300px;
    }

    h3 {
      width: 453px;
      text-align: right;
      font-size: 28px;
      font-family: 'FoundrySterling-Light', Arial, sans-serif;
      letter-spacing: 1.1px;
      color: $color-blue-text;
      height: 52px;
      font-weight: 300;
    }
  }
}

.main--container {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 0 auto;
  width: 100%;
  height: calc(#{$page-height} - #{$banner-height} - #{$footer-height});
  background-color: $color-grey-login-background;

  #top-spacer {
    height: 60px;
    flex-grow: 5;
  }

  .main--content {


    h2 {
      width: 850px;
      height: 52px;
      margin: 0 auto 53px;
      text-align: center;
      font-size: 36px;
      font-family: "FoundrySterling-Light", Arial, sans-serif;
      font-weight: 300;
      line-height: 52px;
      letter-spacing: 1.44px;
      color: $color-blue-text;
    }

    &--form {
      width: 421px;
      margin: 0 auto 42px;

      input {
        width: 100%;
        height: 45px;
        padding: 0 0 0 18px;
        background-color: $color-white;
        border-radius: 0px;
        border: 1px solid #d7d7d7;
        color: $color-blue-text;
        font-family: Arial, sans-serif;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0.6px;

        &::placeholder {
          opacity: 1;
          color: $color-blue-text;
        }

        &:first-of-type {
          margin: 0 0 25px;
        }

        &:last-of-type {
          margin: 0 0 11px;
        }
      }

      &--password-options, &--login-options {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
      }

      &--password-options {
        height: 30px;
        margin: 0 0 19px 0;

        a {
          color: $color-grey-login-text;
          line-height: 16px;
          font-size: 12px;
          font-family: 'FoundrySterling-Medium', Arial, sans-serif;
          text-decoration: underline;
          letter-spacing: 0.48px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
        }

      }

      &--login-options {
        & > div {
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
          align-items: center;
        }

        label {
          color: $color-blue-text;
          font-size: 14px;
          letter-spacing: 0.56px;
        }
        
        div:first-of-type {
          input {
            width: 25px;
            height: 25px;
            margin: 0 18px 0 0;
            padding: 0;
          }

          label {
            line-height: 16px;
            font-family: "FoundrySterling-Demi", Arial, sans-serif;
            font-weight: normal;
          }
        }

        div:nth-of-type(2) {
          label {
            position: relative;
            left: 18px;
            line-height: 31px;
            width: 84px;
            font-family: Arial, sans-serif;
            font-weight: bold;
          }

          button {
            height: 43px;
            width: 43px;
            border-radius: 50%;
            background-color: $color-orange;
            color: $color-white;

            img {
              color: $color-white;
              height: 17px;
              width: 17px;
            }
          }
        }
      }
    }

    hr {
      margin: 0 auto 24px;
      width: 480px;
      border-top-width: 0;
      border-color: $color-grey-horizontal-rule;
    }

    h4 {
      position: relative;
      height: 36px;
      width: 605px;
      line-height: 36px;
      letter-spacing: 0.8px;
      font-size: 20px;
      font-weight: normal;
      margin: 0 auto 2px;
      color: $color-blue-text;
      text-align: center;
    }

    p:last-of-type {
      width: 480px;
      height: 69px;
      line-height: 24px;
      font-size: 15px;
      letter-spacing: 0.6px;
      margin: 0 auto;
      color: $color-grey-info-text;
      text-align: center;
    }
  }

  #bottom-spacer {
    height: 30px;
    flex-grow: 4;
  }
}

.footer {
  display: flex;
  flex-shrink: 0;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-color: $color-blue-footer;
  width: 100%;
  height: 100px;

  & > div {
    position: relative;
    left: 1px;
    bottom: 1px;
    height: 36px;
    width: 720px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    a, p {
      color: $color-white;
      font-size: 14px;
      line-height: 28px;
      letter-spacing: 0.56px;
    }

    a {
      text-decoration: underline;
    }
  }
}